* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    width: 100%;
    color: #E65C00;
    background-color: #F5F5EF;
    text-align: center;
    padding: 1% 0 1% 0;
}


.container {
    width: 100%;
}

.contentbox {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #009973;
    padding-bottom: 2%;
}

.rowtitle h2 {
color: #001A66;
}

.rowtitle,
.rowbutton {
    width: 100%;
    text-align: center;
    padding: 1% 0 1% 0;
}

.rowbutton {
    background-color: #F5F5EF;
}


.column {
    width: 30%;
    text-align: center;
    padding: 0;
}


img {
    width: 40%;
    padding-bottom: 2%;
}



.contentbox h3 {
	color: white;
}

.formbox {
	background-color: #003366;
}

.printedcalculation {
	width: 100%;
}

p {
	padding: 1% 0 1% 0;
}

form {
	text-align: center;
	color: white;
}

input {
    border: 3px solid #F5F5EF;
    border-radius: 4px;
    padding: 0.5%;
}